body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.caixa {
    width: 400px;           /* largura da div */
    height: auto;           /* altura automática para se adaptar ao conteúdo */
    background-color: gray; /* cor de fundo */
    border-radius: 50px;    /* bordas arredondadas */
    padding: 20px;          /* espaçamento interno */
    color: white;           /* cor do texto */
}

.titulo {
    font-size: 24px;        /* tamanho do título */
    margin-bottom: 10px;    /* espaçamento abaixo do título */
}

.subtitulo {
    font-size: 18px;        /* tamanho do subtítulo */
    margin: 5px 0;          /* espaçamento acima e abaixo do subtítulo */
}

.texto {
    margin-bottom: 10px;    /* margem entre os textos */
}

.logos {
    display: flex;           /* para dispor as logos em linha */
    justify-content: center; /* centraliza as logos */
    margin-top: 20px;       /* espaçamento acima das logos */
}

.logo {
    width: 50px;            /* largura da logo */
    height: auto;           /* altura automática */
    border-radius: 50%;     /* bordas arredondadas */
    margin: 0 10px;         /* espaçamento horizontal entre as logos */
}

